{% extends 'base.html.twig' %}

{% block title %}User administration{% endblock %}

{% block body %}
    <div class="content ring">
        <div class="container">
            <h1>Users</h1>
        </div>
        <div class="container">
            {% for user in users %}
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">{{ user.id }}</div>
                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><a href="/admin/edituser?id={{ user.id }}">{{ user.username }}</a></div>
                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">{{ user.email }}</div>
                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                        {% for role in user.roles %}
                        {{ role }}
                        {% endfor %}</div>
                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
                        {% if user.active == 1 %}Active{% else %}Inactive{% endif %}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
